:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {

  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #0287ed;
  --clr-primary-a10: #4793ef;
  --clr-primary-a20: #67a0f2;
  --clr-primary-a30: #81adf4;
  --clr-primary-a40: #99baf6;
  --clr-primary-a50: #aec7f8;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #191c24;
  --clr-surface-tonal-a10: #2e3139;
  --clr-surface-tonal-a20: #45474e;
  --clr-surface-tonal-a30: #5d5f65;
  --clr-surface-tonal-a40: #75777d;
  --clr-surface-tonal-a50: #8f9196;
}

/** Examples */
.bg-primary {
  color: var(--clr-primary-a50);
  background-color: var(--clr-surface-a0);
}